@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
body{
	font-family: 'Nunito Sans', sans-serif;
}
.poster{
	position: relative;
	height: 100vh;
	width: 70vh;
	background-color: rgb(230, 231, 233);
	border: 1px solid rgb(230, 231, 233);
	padding: 1px;
	margin: 2vh auto 3vh auto;
}
h1{
	position: absolute;
	top: 65vh;
    float: left;
    clear: left;
    width: 17vh;
    text-align: right;
	font-size: 3vh;
	letter-spacing: -0.1vh;
}
dl{
	position: absolute;
	top: 74vh;
	font-size: 1.1vh;
	line-height: 1.15vh;
	letter-spacing: -0.05vh;
}
dt {
    float: left;
    clear: left;
    width: 17vh;
    text-align: right;
    padding: 0.7vh 0 0 0;
}
dd {
    margin: 0 0 0 18vh;
}
.first{
	padding: 0.5vh 0 0 0;
}
.ring1{
	position: absolute;
	bottom: 2.3vh;
	left: -7.2vh;
	background: transparent;
    width:47.4vh;
    height:47.4vh;
    border-radius:23.7vh;
}
.ring1:before{
    content:'';
    position:absolute;
    width:47.4vh;
    height:47.4vh;
    border-radius:23.7vh;
    box-shadow: 0 0 0 1vh black;
}
.ring2{
	position: absolute;
	bottom: 1.1vh;
	left: -8.4vh;
	background: transparent;
	height: 49.8vh;
	width: 49.8vh;
	border-radius: 24.9vh;
}
.ring2:before{
    content:'';
    position:absolute;
	height: 49.8vh;
	width: 49.8vh;
	border-radius: 24.9vh;
    box-shadow: 0 0 0 2vh black;
}
.ring3{
	position: absolute;
	bottom: -1.1vh;
	left: -10.6vh;
	background: transparent;
	height: 54.2vh;
	width: 54.2vh;
	border-radius: 27.1vh;
}
.ring3:before{
    content:'';
    position:absolute;
	height: 54.2vh;
	width: 54.2vh;
	border-radius: 27.1vh;
    box-shadow: 0 0 0 4vh black;
}
.ring4{
	position: absolute;
	bottom: -5.3vh;
	left: -14.8vh;
	background: transparent;
	height: 62.6vh;
	width: 62.6vh;
	border-radius: 31.3vh;
}
.ring4:before{
    content:'';
    position:absolute;
	height: 62.6vh;
	width: 62.6vh;
	border-radius: 31.3vh;
    box-shadow: 0 0 0 8vh black;
}
.ring5{
	position: absolute;
	bottom: -13.5vh;
	left: -23vh;
	background: transparent;
	height: 79vh;
	width: 79vh;
	border-radius: 39.5vh;
}
.ring5:before{
    content:'';
    position:absolute;
	height: 79vh;
	width: 79vh;
	border-radius: 39.5vh;
    box-shadow: 0 0 0 16vh black;
}
.ring6{
	position: absolute;
	bottom: -29.7vh;
	left: -39.2vh;
	background: transparent;
	height: 111.4vh;
	width: 111.4vh;
	border-radius: 55.7vh;
}
.ring6:before{
    content:'';
    position:absolute;
	height: 111.4vh;
	width: 111.4vh;
	border-radius: 55.7vh;
    box-shadow: 0 0 0 32vh black;
}
.ring7{
	position: absolute;
	bottom: -61.9vh;
	left: -71.4vh;
	background: transparent;
	height: 175.8vh;
	width: 175.8vh;
	border-radius: 87.9vh;
}
.ring7:before{
    content:'';
    position:absolute;
	height: 175.8vh;
	width: 175.8vh;
	border-radius: 87.9vh;
    box-shadow: 0 0 0 10vh black;
}