@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
body{
	font-family: 'Nunito Sans', sans-serif;
}
.poster{
	position: relative;
	height: 100vh;
	width: 68vh;
	background-color: rgb(230, 231, 233);
	border: 1px solid rgb(230, 231, 233);
	padding: 1px;
	margin: 2vh auto 3vh auto;
}
h1{
	position: absolute;
	top: 63vh;
    float: left;
    clear: left;
    width: 17vh;
    text-align: right;
	font-size: 3vh;
	letter-spacing: -0.1vh;
}
dl{
	position: absolute;
	top: 72vh;
	font-size: 1.1vh;
	line-height: 1.15vh;
	letter-spacing: -0.05vh;
}
dt {
    float: left;
    clear: left;
    width: 17vh;
    text-align: right;
    padding: 0.7vh 0 0 0;
}
dd {
    margin: 0 0 0 18vh;
}
.first{
	padding: 0.5vh 0 0 0;
}
.ring1{
	position: absolute;
	bottom: 4.8vh;
	left: -7.2vh;
	background: transparent;
    width:44.4vh;
    height:44.4vh;
    border-radius:22.2vh;
}
.ring1:before{
    content:'';
    position:absolute;
    width:44.4vh;
    height:44.4vh;
    border-radius:22.2vh;
    box-shadow: 0 0 0 1vh black;
}
.ring2{
	position: absolute;
	bottom: 3.6vh;
	left: -8.4vh;
	background: transparent;
	height: 46.8vh;
	width: 46.8vh;
	border-radius: 23.4vh;
}
.ring2:before{
    content:'';
    position:absolute;
	height: 46.8vh;
	width: 46.8vh;
	border-radius: 23.4vh;
    box-shadow: 0 0 0 2vh black;
}
.ring3{
	position: absolute;
	bottom: 1.4vh;
	left: -10.6vh;
	background: transparent;
	height: 51.2vh;
	width: 51.2vh;
	border-radius: 25.6vh;
}
.ring3:before{
    content:'';
    position:absolute;
	height: 51.2vh;
	width: 51.2vh;
	border-radius: 25.6vh;
    box-shadow: 0 0 0 4vh black;
}
.ring4{
	position: absolute;
	bottom: -2.8vh;
	left: -14.8vh;
	background: transparent;
	height: 59.6vh;
	width: 59.6vh;
	border-radius: 29.8vh;
}
.ring4:before{
    content:'';
    position:absolute;
	height: 59.6vh;
	width: 59.6vh;
	border-radius: 29.8vh;
    box-shadow: 0 0 0 8vh black;
}
.ring5{
	position: absolute;
	bottom: -11vh;
	left: -23vh;
	background: transparent;
	height: 76vh;
	width: 76vh;
	border-radius: 38vh;
}
.ring5:before{
    content:'';
    position:absolute;
	height: 76vh;
	width: 76vh;
	border-radius: 38vh;
    box-shadow: 0 0 0 16vh black;
}
.ring6{
	position: absolute;
	bottom: -27.2vh;
	left: -39.2vh;
	background: transparent;
	height: 108.4vh;
	width: 108.4vh;
	border-radius: 54.2vh;
}
.ring6:before{
    content:'';
    position:absolute;
	height: 108.4vh;
	width: 108.4vh;
	border-radius: 54.2vh;
    box-shadow: 0 0 0 32vh black;
}
.ring7{
	position: absolute;
	bottom: -59.4vh;
	left: -71.4vh;
	background: transparent;
	height: 172.8vh;
	width: 172.8vh;
	border-radius: 86.4vh;
}
.ring7:before{
    content:'';
    position:absolute;
	height: 172.8vh;
	width: 172.8vh;
	border-radius: 86.4vh;
    box-shadow: 0 0 0 10vh black;
}
.mask1{
	z-index: 100;
	position: absolute;
	top: 0vh;
	left: 0vh;
	background: transparent;
	height: 100vh;
	width: 70vh;
	border: 1px;
}
.mask1:before{
	z-index: 100;
    content:'';
    position:absolute;
	height: 100vh;
	width: 68vh;
	border: 1px;
    box-shadow: 0 0 0 100vh white;
}