@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
body{
	font-family: 'Nunito Sans', sans-serif;
	background-color: rgb(230, 231, 233);
}
.poster{
	position: relative;
	height: 100vh;
	width: 68vh;
	padding: 0;
	margin: 2vh auto 3vh auto;
}
.poster:before{
	z-index: 100;
    content:'';
    position:absolute;
	height: 100vh;
	width: 68vh;
    box-shadow: 0 0 0 1000vh white;
}
h1{
	position: absolute;
	top: 63vh;
    float: left;
    clear: left;
    width: 17vh;
    text-align: right;
	font-size: 3vh;
	letter-spacing: -0.1vh;
}
dl{
	position: absolute;
	top: 72vh;
	font-size: 1.1vh;
	line-height: 1.15vh;
	letter-spacing: -0.05vh;
}
dt {
    float: left;
    clear: left;
    width: 17vh;
    text-align: right;
    padding: 0.7vh 0 0 0;
}
dd {
    margin: 0 0 0 18vh;
}
.first{
	padding: 0.5vh 0 0 0;
}
/* 
.ring1{
	position: absolute;
	bottom: 5.8vh;
	left: -4.2vh;
	background: transparent;
    width:42.4vh;
    height:42.4vh;
    border-radius:21.2vh;
}
.ring1:before{
    content:'';
    position:absolute;
    width:42.4vh;
    height:42.4vh;
    border-radius:21.2vh;
    box-shadow: 0 0 0 1vh black;
    overflow: hidden;
}
 */
.circle1o {
	position: absolute;
	top: 50.8vh;
	left: -5.2vh;
  	padding: 0vh;
    width: 44.4vh;
    height: 44.4vh;
	border-radius: 22.2vh;
  	overflow: hidden;
}
.c1o {
  	overflow: hidden;
  	position: absolute;
  	top: 0;
  	right: 0;
  	width: 50%;
  	height: 50%;
 	transform-origin: 0% 100%;
}
.c1o:first-child {
transform: rotate(0deg) skewY(-60deg);
background: blue;
}
.c1o:nth-child(2) {
transform: rotate(90deg) skewY(-60deg);
background: blue;
}
.circle1i {
	position: absolute;
	top: 51.8vh;
	left: -4.2vh;
  	padding: 0vh;
    width: 42.4vh;
    height: 42.4vh;
	border-radius: 21.2vh;
  	overflow: hidden;
}
.c1i {
  	overflow: hidden;
  	position: absolute;
  	top: 0;
  	right: 0;
  	width: 50%;
  	height: 50%;
 	transform-origin: 0% 100%;
}
.c1i:first-child {
transform: rotate(0deg) skewY(-60deg);
background: green;
}
.c1i:nth-child(2) {
transform: rotate(90deg) skewY(-60deg);
background: green;
}
.ring2{
	position: absolute;
	bottom: 4.6vh;
	left: -5.4vh;
	background: transparent;
	height: 44.8vh;
	width: 44.8vh;
	border-radius: 22.4vh;
}
.ring2:before{
    content:'';
    position:absolute;
	height: 44.8vh;
	width: 44.8vh;
	border-radius: 22.4vh;
    box-shadow: 0 0 0 2vh black;
}
.ring3{
	position: absolute;
	bottom: 2.4vh;
	left: -7.6vh;
	background: transparent;
	height: 49.2vh;
	width: 49.2vh;
	border-radius: 24.6vh;
}
.ring3:before{
    content:'';
    position:absolute;
	height: 49.2vh;
	width: 49.2vh;
	border-radius: 24.6vh;
    box-shadow: 0 0 0 4vh black;
}
.ring4{
	position: absolute;
	bottom: -1.8vh;
	left: -11.8vh;
	background: transparent;
	height: 57.6vh;
	width: 57.6vh;
	border-radius: 28.8vh;
}
.ring4:before{
    content:'';
    position:absolute;
	height: 57.6vh;
	width: 57.6vh;
	border-radius: 28.8vh;
    box-shadow: 0 0 0 8vh black;
}
.ring5{
	position: absolute;
	bottom: -10vh;
	left: -20vh;
	background: transparent;
	height: 74vh;
	width: 74vh;
	border-radius: 37vh;
}
.ring5:before{
    content:'';
    position:absolute;
	height: 74vh;
	width: 74vh;
	border-radius: 37vh;
    box-shadow: 0 0 0 16vh black;
}
.ring6{
	position: absolute;
	bottom: -26.2vh;
	left: -36.2vh;
	background: transparent;
	height: 106.4vh;
	width: 106.4vh;
	border-radius: 53.2vh;
}
.ring6:before{
    content:'';
    position:absolute;
	height: 106.4vh;
	width: 106.4vh;
	border-radius: 53.2vh;
    box-shadow: 0 0 0 32vh black;
}
.ring7{
	position: absolute;
	bottom: -58.4vh;
	left: -68.4vh;
	background: transparent;
	height: 170.8vh;
	width: 170.8vh;
	border-radius: 85.4vh;
}
.ring7:before{
    content:'';
    position:absolute;
	height: 170.8vh;
	width: 170.8vh;
	border-radius: 85.4vh;
    box-shadow: 0 0 0 10vh black;
}




